* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #fff;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
    flex: 1 0 auto;
}

header {
    background-color: #f3f3f3;
    font-size: 1.0em;
    color: #000;
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

header a {
    text-decoration: none;
}

header .site-name {
    float: left;
}

header nav {
    float: right;
}

header nav li {
    display: inline-block;
}

h1, h2 {
    font-weight: 600;
}

.page-content h1,
.page-content h2 {
    margin-bottom: 10px;
}

.page-content ul,
.page-content ol {
    margin-left: 30px;
}

p,
.page-content li {
    margin-bottom: 10px;
    line-height: 1.5em;
    color: #222;
}

ul {
    list-style-type: circle;
}

a {
    color: inherit;
}

.page-content a {
    color: #2a7ae2;
    text-decoration: none;
}

.page-content a:visited {
    color: #1756a9;
}

.page-content a:hover {
    color: #111;
    text-decoration: underline;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards-item {
    display: flex;
    padding: 1rem;
    width: 50%;
}

@media (max-width: 50rem) {
    .cards-item {
        width: 100%;
    }
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background: #fafafa;
    border-radius: 15px;
    border: 1px solid transparent;
    -webkit-transition: border .35s ease;
    transition: border .35s ease;
    padding: 30px
}

.card:hover {
    border-color: #d4d4d4
}

.card-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.card-header-container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.card-icon {
    background: #f2f2f2;
    border-radius: 20%;
    
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-icon img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
}

.card-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.card-header h2 {
    font-size: 1.8em;
}

.card-header a {
    text-decoration: none;
}

.card-text {
    display: flex;
    flex: 1 0 auto;
}

.card-text p {
    margin-top: 10px;
    line-height: 1.35em;
}

.category-list {
    padding-top: 0.3em;
}

.category-list li,
.category {
    display: inline-block;
    background-color: #eee;
    color: #999;
    padding: 0.5em;
    border-radius: 15%;
    margin-right: 0.4em;
    font-size: 0.6em;
}

.app-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.app-badges a {
    cursor: pointer;
}

.app-badges a:hover {
    opacity: 0.9;
}

.app-store-badge {
    width: 196px;
    height: 58px;
}

.google-play-badge {
    width: 196px;
    height: auto;
}

footer {
    background-color: #f3f3f3;
    width: 100%;
    flex-shrink: 0;
}

.social-links-list {
    padding: 30px;
}

.social-link {
    color: #bababa;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.generated-using {
    color: #bababa;
    font-size: 0.6em;
    margin: 12px;
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}
